<section id="cart-section">
    <div id="cart-container" class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col-10"><h4 class="cart-heading"><b>Shopping Cart</b></h4></div>
                        <div class="col-2 text-right text-muted">{{sneakers.length}} items</div>
                    </div>
                </div>    
                <div class="cart-items">
                <div #cartItem class="row border-bottom" *ngFor="let sneaker of sneakers">
                    <div class="row main">
                        <div class="col-2"><img class="img-fluid" src="{{sneaker.mainPictureUrl}}"></div>
                        <div class="col-4">
                            <div class="row text-muted cart-sneak-name">{{sneaker.name}}</div>
                            <div class="row cart-sneak-brandname">{{sneaker.brandName}}</div>
                        </div>
                        <div class="col-2">
                            <div class="counter-wrapper">
                                <span class="minus" (click)="decrementCounter(counter, price, sneaker)">-</span>
                                <span #counter class="num">01</span>
                                <span class="plus" (click)="incrementCounter(counter, price, sneaker)">+</span>
                            </div>
                        </div>
                        <div #price class="col-2 cart-sneak-price"> ${{sneaker.retailPriceCents/100}}</div>
                        <div class="col-2 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-danger cart-remove-btn" (click)="removeFromCart(sneaker, cartItem)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="back-to-shop">
                    <a style="height: 25px;" routerLink="/sneakers">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </a>
                    <span class="text-muted">Back to shop</span>
                </div>
            </div>
            <div class="col-md-4 summary">
                <div ></div>
                <app-cart-summary *ngIf="cartPageType == 'Summary'; else cartOrderPage"  (changeCartPageEvent)="changeCartPageType($event)" [totalPrice]="totalPrice" [noOfItems]="sneakers.length"></app-cart-summary>
                <ng-template #cartOrderPage>
                    <app-cart-order #cartOrderPage (removeItemsFromCartEvent)="removeItemsFromCart()" (changeCartPageEvent)="changeCartPageType($event)" [totalPrice]="totalPrice" [noOfItems]="sneakers.length"></app-cart-order>
                </ng-template>
            </div>
        </div>
    </div>
    
</section>