<section id="homePageSecondSection">
    <div id="shoeCaseContainer" class="container">
        <div id="firstShoeCardSection" class="row" #firstShoeCardSection>
            <div class="showCase col-lg-6 col-sm-12 col-12" #firstShoeCard>
                <img class="shoe-case-image img-fluid" src="../../assets/images/1201.jpg" alt="">
                <div class="shoeCaseDetailsBox">
                    <h3><b>GOING LOW</b></h3>
                    <p>
                        The Air Jordan 11 Low returns just in time for warm weather 
                        with a clean new "Cement Grey" colorway. Grab this perfect 
                        summer sneaker now.
                    </p>
                    <a routerLink="sneakers" class="showCaseShopBtn">SHOP NOW</a>
                </div>
            </div>
            <div class="showCase col-lg-6 col-sm-12" #secondShoeCard>
                <img class="shoe-case-image img-fluid" src="../../assets/images/1202.jpg" alt="">
                <div class="shoeCaseDetailsBox">
                    <h3><b>NIKE DUNK</b></h3>
                    <p>
                        Shop the latest re-release for the world's most popular sneaker.
                    </p>
                    <a routerLink="sneakers" class="showCaseShopBtn">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div id="secondShoeCardSection" class="row" #secondShoeCardSection>
            <div class="showCase col-lg-6 col-sm-12 col-12" #thirdShoeCard>
                <img class="shoe-case-image img-fluid" src="../../assets/images/1203.jpg" alt="">
                <div class="shoeCaseDetailsBox">
                    <h3><b>Guide to the New Balance 2002R</b></h3>
                    <p>
                        The popular lifestyle sneaker’s origins, new life, best colorways, sizing info, and more.
                    </p>
                    <a routerLink="sneakers" class="showCaseShopBtn">SHOP NOW</a>
                </div>
            </div>
            <div class="showCase col-lg-6" #fourthShoeCard>
                <img class="shoe-case-image img-fluid" src="../../assets/images/1204.jpg" alt="">
                <div class="shoeCaseDetailsBox">
                    <h3><b>Early Look at the Air Jordan 4 "Thunder"</b></h3>
                    <p>
                        A close look at the anticipated black-and-yellow Jordan 4 and the history behind the colorway.
                    </p>
                    <a routerLink="sneakers" class="showCaseShopBtn">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>