<section>
  <div id="sneakers-landing-page">
    <div id="sneakers-page-heading-container" class="container">
      <h1 class="sneakers-landing-page-upper-heading glow">Style meets comfort. Sneak on.</h1>
    </div>
  </div>
  <app-show-card-section [sneakers]="sneakers[0]" [Title]="'Trending Now'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[1]" [Title]="'New Releases'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[2]" [Title]="'Sneakers of the Week'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[3]" [Title]="'Limited Edition'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[4]" [Title]="'Lifestyle Fashion'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[5]" [Title]="'Iconic Styles'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[6]" [Title]="'Running Shoes'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[7]" [Title]="'Sneakerhead Classics'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[8]" [Title]="'Casual Sneakers'"></app-show-card-section>
  <app-show-card-section [sneakers]="sneakers[9]" [Title]="'Comfort Sneakers'"></app-show-card-section>
</section>
